* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #eaeded;
  font-family: Arial, sans-serif;
  background-image: url(../images/burako.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 15px;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
  max-width: 400px;
  background: #fff;
}

#totales {
  background-color: #343a40;
  color: #fff;
  padding: .75em;
  margin: .75em 0;
  margin-top: -.75em;
}

.error {
  width: 100%;
  background-color: crimson;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.hide {
  display: none;
}